<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346386381295-q1svon0ariagpm4fcril16fj0kq3rv9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346386381295-q1svon0ariagpm4fcril16fj0kq3rv9h</string>
	<key>API_KEY</key>
	<string>AIzaSyCBt9QfXkT_eKBpSkWXmejcOdeKvMRlM60</string>
	<key>GCM_SENDER_ID</key>
	<string>346386381295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartPlannerAgentApp</string>
	<key>PROJECT_ID</key>
	<string>smartplaner-b98ed</string>
	<key>STORAGE_BUCKET</key>
	<string>smartplaner-b98ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346386381295:ios:e032fc442007f90e39de1a</string>
	<key>DATABASE_URL</key>
	<string>https://smartplaner-b98ed-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>